# Ignore heavy raw simulation outputs
results/ccelegant/track_*
results/ccelegant/watch.*
results/**/*.h5
results/**/*.npy
results/**/*.npz
results/**/*.pkl

# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
.venv/
venv/
env/

# macOS
.DS_Store

# Editor swap files
*.swp
*.swo
*~

# Jupyter (if used for analysis)
.ipynb_checkpoints/repo.zip
